div.finances {
  &__icon {
    &_fuel {
      width: 2.5em;
      align-self: center;
      svg {
        width: 2.5em;
        height: 2.5em;
        path {
          fill: #f29f05;
        }
      }
    }
  }
}
