$menus-background: #363440;
$menus-light-background: #4e4a5a;
$menus-light-ransparent-background: rgba(78, 74, 90, 0.45);

$primary-color: #d98032;
$primary-color-transparent: rgba(217, 128, 50, 0.5);
$secondary-color: #8c442a;

$widgets-background-light: #ecc098;
$widgets-background: #d98032;
$widgets-background-dark: #42250b;
$text-color: #f2ede4;
$text-background: rgba(46, 46, 46, 0.8);
$text-background-dark: rgba(31, 31, 31, 0.8);
$text-background-darker: rgba(27, 27, 27, 0.9);

// $info-color: #3498db;
// $warning-color: #ffb03b;
// $success-color: #468966;
// $shopIcon-color: #bd4932;
