$menus-background: #363440;
$menus-light-background: #4e4a5a;
$menus-light-ransparent-background: rgba(78, 74, 90, 0.45);

$primary-color: #d98032;
$primary-color-transparent: rgba(217, 128, 50, 0.5);
$secondary-color: #8c442a;

$widgets-background-light: #f0dccf;
$widgets-background: #f2c6ac;
$widgets-background-dark: #a04713;
$text-color: #f2ede4;

// $info-color: #3498db;
// $warning-color: #ffb03b;
// $success-color: #468966;
// $shopIcon-color: #bd4932;
