$menus-background: #363440;
$menus-light-background: #4e4a5a;

$primary-color: #d98032;
$secondary-color: #8c442a;

$widgets-background: #f2c6ac;
$text-color: #f2ede4;

// $info-color: #3498db;
// $warning-color: #ffb03b;
// $success-color: #468966;
// $shopIcon-color: #bd4932;
