@import "../../scss/generic";

.sidebar {
  height: 100%;
  width: 15em;
  background-color: $menus-background;

  &__nav {
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  &__item {
    width: 80%;
    color: $text-color;
    font-size: 1.3em;
    padding: 0.7em 2em;
  }
  &__item:hover {
    color: $primary-color;
    border-bottom: 2px solid $primary-color;
    padding: calc(0.7em - 2px) 2em;
  }
}
